/build/
/out/
/upstream-ultrastarfox/
/upstream-star-fox-ex/
/upstream-retro-cpu/
/upstream-snes-spc/
Starfox-Assets.BIN
/dist/StarFoxEnhanced/starfox_pc.exe
/dist/StarFoxEnhanced-windows-x86/
/dist/StarFoxEnhanced-linux-x64/
/assets/hud_editor/*.bmp
/tmp/
__pycache__/
*.pyc
